//
// variables
// --------------------------------------------------

/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- colors -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/

:root {
  --clr-gradient-start: hsl(252, 100%, 67%);
  --clr-gradient-end: hsl(241, 81%, 54%);
  --clr-gradient-circle-start: hsla(256, 72%, 46%, 1);
  --clr-gradient-circle-end: hsla(241, 72%, 46%, 0);
  --clr-red: hsl(0, 100%, 67%);
  --clr-yellow: hsl(39, 100%, 56%);
  --clr-green: hsl(166, 100%, 37%);
  --clr-blue: hsl(234, 85%, 45%);
  --clr-btn: #303b59;
  --clr-white: #fff;
  --clr-title: #2f354b;
  --clr-blue-pale: hsl(221, 100%, 96%);
}

/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- fonts -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
:root {
  --font-base: 'HankenGrotesk Medium';
  --font-bold: 'HankenGrotesk Bold';
  --font-extra: 'HankenGrotesk ExtraBold';
  --fz-base: 18px;
}
